@model IEnumerable<EntityLayer.Concrete.Blog>
<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">
        <div class="d-md-flex mb-3">
            <h3 class="box-title mb-0">Eklenen Son 5 Blogun</h3>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr>
                        <th class="border-top-0">#</th>
                        <th class="border-top-0">Blog Başlığı</th>

                        <th class="border-top-0">Blog Paylaşılma Tarihi</th>
                        <th class="border-top-0">Blog Görsel</th>
                       

                    </tr>
                </thead>
                <tbody>
                    @{ int id = 0;}
                    @foreach (var item in Model)
                    {
                        { id = id + 1; }
                        <tr>
                            <td>@id</td>
                            <td>@item.Title</td>

                            <td>@(((DateTime)item.DateTime).ToString("dd-MMM-yyyy"))</td>
                            <td><img class="img-thumbnail" style="height:50px" src="@item.ImageUrl" /></td>         
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
