
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/Themes/login-form-08/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Themes/login-form-08/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/Themes/login-form-08/css/style.css">

    <title>Admin Giriş</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="/Themes/login-form-08/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3><strong>Admin Panel</strong>`ìne hoşgeldin!</h3>
                                <p class="mb-4">Projenin admin paneline geçiş yapmak için lütfen bilgilerinizi giriniz.</p>
                            </div>
                            <form action="#" method="post">
                                <div class="form-group first">
                                    <label for="username">Kullanıcı Adı</label>
                                    <input type="text" class="form-control" name="UserName" id="username">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Şifre</label>
                                    <input type="password" class="form-control" name="Password" id="password">

                                </div>
                                <input type="submit" value="Giriş Yap" class="btn text-white btn-block btn-primary">
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="/Themes/login-form-08/js/jquery-3.3.1.min.js"></script>
    <script src="/Themes/login-form-08/js/popper.min.js"></script>
    <script src="/Themes/login-form-08/js/bootstrap.min.js"></script>
    <script src="/Themes/login-form-08/js/main.js"></script>
</body>
</html>
