
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/Themes/miniblog/images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Bizimle İletişime Geç!</h1>
                    <p class="lead mb-4 text-white">Görüş,şikayet,öneri,istek herşeyi bizimle paylaşabilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">



                <form action="#" method="post" class="p-5 bg-white">


                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">İsim *</label>
                            <input type="text" id="fname"   name="FirstName" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="text-black"  for="lname">Soyisim</label>
                            <input type="text" id="lname"  name="LastName" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black"  for="email">Eposta</label>
                            <input type="email" id="email" name="Mail" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black"   for="subject">Konu *</label>
                            <input type="text" id="subject" name="Subject" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black"  name="Message" for="message">Mesaj *</label>
                            <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Mesajınızı giriniz..."></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Gönder" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-5">

                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Adres</p>
                    <p class="mb-4">Gedik Meslek Yüksek Okulu, Pendik, İstanbul, Türkiye</p>

                    <p class="mb-0 font-weight-bold">Telefon Numarası</p>
                    <p class="mb-4"><a href="#">+90 553 989 80 71</a></p>

                    <p class="mb-0 font-weight-bold">Eposta Adresi</p>
                    <p class="mb-0"><a href="#">gedikprogramcilik@gmail.com</a></p>

                </div>

            </div>
        </div>
    </div>
</div>

@Html.Action("Footer","About")

