@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            
            <tr>
                <th>Ad</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
